<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
</head>
<body>
<h1>Users</h1>
<a href="/addUser">Add New User</a>
<ul>
    <th:block th:each="user : ${users}">
        <li>
            <span th:text="${user.name}"></span>
            <a th:href="@{/editUser(id=${user.id})}">Edit</a>
            <a th:href="@{/deleteUser(id=${user.id})}">Delete</a>
        </li>
    </th:block>
</ul>
</body>
</html>
